.tee-wrap{
  width: 800px;
  height: 1050px;
  margin: auto;
  position: relative;
}
.shadow,
.action{
  width: 800px;
  position: absolute;
  top: 0;
  left: 0;
}
.action{
  z-index: 1;
  transition: all 800ms ease-out;
}

/*.action:hover{
  transform: rotateY(180deg);
}
.shadow{
  opacity: 0;
*/}
