html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5{
  display: inline-block;
  min-height: 1px;
  position : relative;
}
.column-1{
  width: 180px;
}
.column-2{
  width: 360px;
}
.column-3{
  width: 540px;
}
.column-4{
  width: 720px;
}
.column-5{
  width: 900px;
}
.steps .column-1{
  margin: 5px 0 10px 0;
}
