
.column-1,
.column-2,
.column-3,
.column-4,
.column-5{
  font-size: 0;
  display: inline-block;
  min-height: 1px;
}

.column-1{
  width: 180px;
}
.column-4{
  width: 720px;
}
.column-5{
  width: 900px;
}
