body{
  margin: 0 auto;
  height: 1920px;
  width: 1080px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;

  background: #a093a8;
  background: -moz-linear-gradient(45deg,  #a093a8 0%, #9ebfcc 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#a093a8), color-stop(100%,#9ebfcc));
  background: -webkit-linear-gradient(45deg,  #a093a8 0%,#9ebfcc 100%);
  background: -o-linear-gradient(45deg,  #a093a8 0%,#9ebfcc 100%);
  background: -ms-linear-gradient(45deg,  #a093a8 0%,#9ebfcc 100%);
  background: linear-gradient(45deg,  #a093a8 0%,#9ebfcc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a093a8', endColorstr='#9ebfcc',GradientType=1 );

}
header{
 height: 160px;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
}
section.canvas{
  padding: 35px;
  height: 1050px;
  overflow: hidden;
}
section.continue{
  margin: 0 auto;
}

section.selector{
  overflow: hidden;
}

section.selector-active{
  background: blue;
  height: 200px;
  width: 200px;
}

section.selector + section.selector{
  margin-top: 20px;
}

section.steps{
  height: 160px;
}

section.controls{
  overflow: hidden;
  padding: 14px 0 ;
}




