.tooltips{
  position: absolute;
  pointer-events: none;
  top: 650px;
  left: 180px;
  z-index: 4;
}

.tooltips .column-1{
  opacity: 0.6;
  vertical-align: top;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: red;
  height: auto;
  vertical-align: bottom;
  transform-style: preserve-3d;
  transition: all 400ms ease;
  transform: rotateY(90deg);
}
.tooltips .column-1.show{
  transform: rotateY(0deg);
}
.tooltips .column-1:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 70px;
  bottom: -18px;
  border: 20px solid;
  border-color:  transparent red red transparent ;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tooltips .column-1:hover{
  background: blue;
}

.tooltips .column-1:nth-child(1){
  transition-delay: 100ms;
}
.tooltips .column-1:nth-child(2){
  transition-delay: 200ms;
}
.tooltips .column-1:nth-child(3){
  transition-delay: 300ms;
}
.tooltips .column-1:nth-child(4){
  transition-delay: 400ms;
}
